
/* Custom CSS for equal halves and background colors */
.split-container {
display: flex;
height: 100vh; /* Full viewport height */
}

.left-half {
flex: 1; /* Equal width for both halves */
background-color: (254,254,254,0.1); /* Background color for left half */
display: flex;
justify-content: center;
align-items: center;
}

.right-half {
flex: 1; /* Equal width for both halves */
background-color: #fff; /* Background color for right half */
display: flex;
justify-content: center;
align-items: center;
}

.pad{
   margin-left: 10px !important;
}

.inactive{
   opacity: 70% !important;
}

.pending-pill{
   background-color: rgba(233, 178, 0, 0.1); 
   color: #E9B200;     
}
.success-pill{
   background-color: rgba(57, 205, 98, 0.1); 
   color: #39CD62;     
}
.danger-pill{
   background-color: rgba(228, 3, 59, 0.1); 
   color: #E4033B;     
}
.inactive-pill{
   background-color: (84, 95, 125, 0.1); 
   color: #545F7D;     
}
table.table th {
   border-bottom: none !important;
}